<?xml version="1.0"?>

<!--this is the main urdf file called while launching and passed to the robot_state_publisher node-->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="diy_cell">

<!-- set some gloabal arguments (define second order namespaces to avoid name collisions)-->
    <xacro:arg name="name" default="wer24_robotarm"/>
    <xacro:arg name="tf_prefix" default=""/>
    <xacro:arg name="tf_prefix_sub" default="sub_"/>
    <xacro:arg name="tf_prefix_arm" default="arm_"/>
    <xacro:arg name="tf_prefix_grip" default="grip_"/>


    <link name="world" />


<!-- import and setup the subframe-->
    <xacro:include filename="$(find full_cell_description)/urdf/subframe_macro.urdf.xacro"/>
    
    <xacro:simple_subframe tf_prefix="$(arg tf_prefix)$(arg tf_prefix_sub)" parent="world">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:simple_subframe>


<!-- import and set up the robot model -->
    <xacro:include filename="$(find my_robot_description)/urdf/diy_robotarm_macro.urdf.xacro"/>

    <!-- set parameters defined in diy_robotarm_macro.xacro -->
    <xacro:arg name="joint_limit_params" default="$(find full_cell_description)/config/joint_limits.yaml"/>
    <xacro:arg name="kinematics_params" default="$(find my_robot_description)/config/default_kinematics.yaml"/>
    <!-- ros2_control related parameters -->
    <xacro:arg name="robot_ip" default="192.168.212.203" />
    <xacro:arg name="robot_ssid" default="DIY-Robotics" />
    <!-- Simulation parameters -->
    <xacro:arg name="use_fake_hardware" default="false" />
    <!-- initial position for simulations from .yaml files (Fake Hardware) -->
    <xacro:arg name="initial_positions_file" default="$(find full_cell_description)/config/initial_positions.yaml"/>
    <!-- convert to property to use substitution in function -->
    <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>
   
    <xacro:diy_robotarm
        name="$(arg name)"
        tf_prefix="$(arg tf_prefix)$(arg tf_prefix_arm)"
        parent="$(arg tf_prefix)$(arg tf_prefix_sub)subframe_link"
        joint_limits_parameters_file="$(arg joint_limit_params)"
        kinematics_parameters_file="$(arg kinematics_params)"
        use_fake_hardware="$(arg use_fake_hardware)"
        initial_positions="${xacro.load_yaml(initial_positions_file)}"
        robot_ip="$(arg robot_ip)"
        robot_ssid="$(arg robot_ssid)"
        >
        <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position of robot base relative to its parent -->
    </xacro:diy_robotarm>


<!-- import and setup the gripper-->
    <xacro:include filename="$(find my_gripper_description)/urdf/diy_gripper_macro.urdf.xacro"/>
    
    <xacro:diy_soft_gripper tf_prefix="$(arg tf_prefix)$(arg tf_prefix_grip)" parent="$(arg tf_prefix)$(arg tf_prefix_arm)link_6">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:diy_soft_gripper>


</robot>    
