<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


<!--include the material/ colors macro-->
  <xacro:include filename="$(find my_gripper_description)/urdf/materials.urdf.xacro" />


<!--build the gripper links and joints using a macro, which will be called in the diy_gripper_model.urdf.xacro while launching-->
  <xacro:macro name="diy_soft_gripper" params="tf_prefix parent *origin"> 
    <xacro:materials tf_prefix="${tf_prefix}"/>
    
    <joint name="${tf_prefix}gripper_to_parent" type="fixed">
        <parent link="${parent}"/>
        <child link="${tf_prefix}base_link"/>
    </joint>

    <link name="${tf_prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://my_gripper_description/meshes/visual/base_link.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${tf_prefix}grey" />
      </visual>
    
      <collision>
        <origin xyz="0 0 0.028" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://my_gripper_description/meshes/collision/tool.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${tf_prefix}red" />
      </collision>
    </link>

    <joint name="${tf_prefix}right_joint" type="fixed">
      <origin xyz="-0.003 0.00875 0.033" rpy="${pi} 0 ${pi}" />
      <parent link="${tf_prefix}base_link" />
      <child link="${tf_prefix}right_finger" />
      <axis xyz="0 0 1" />
    </joint>

    <link name="${tf_prefix}right_finger">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://dmy_gripper_description/meshes/visual/soft_finger.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${tf_prefix}orange" />
      </visual>
    </link>

    <joint name="${tf_prefix}left_joint" type="fixed">
      <origin xyz="0.003 -0.00875 0.033" rpy="${pi} 0 0" />
      <parent link="${tf_prefix}base_link" />
      <child link="${tf_prefix}left_finger" />
      <axis xyz="0 0 1" />
    </joint>

    <link name="${tf_prefix}left_finger">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://my_gripper_description/meshes/visual/soft_finger.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${tf_prefix}orange" />
      </visual>
    </link>

    <!--add a TCP Link for convenience, show TCP reference set in rviz-->
    <joint name="${tf_prefix}tcp_joint" type="fixed"> 
        <origin xyz="0 0 0.08" rpy="0 0 0"/>
        <parent link="${tf_prefix}base_link"/>
        <child link="${tf_prefix}tcp_link"/>    
    </joint>

    <link name="${tf_prefix}tcp_link"/>

  </xacro:macro>

</robot>