<?xml version="1.0"?>

<!--this is the main urdf.xacro file which builds actually the robot model by calling the other macros-->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="wer24_robotarm">
   <!-- set robot name parameter -->
    <xacro:arg name="name" default="wer24_robotarm"/>

<!--#######################################################################################################################################-->
   <!-- import main macro -->
<!--#######################################################################################################################################-->
    <xacro:include filename="$(find my_robot_description)/urdf/diy_robotarm_macro.urdf.xacro"/>


<!--#######################################################################################################################################-->
    <!-- set ros2 parameters, which will passsed to the macros-->
<!--#######################################################################################################################################-->
   <!-- set parameters defined in diy_robotarm_macro.xacro -->
    <xacro:arg name="tf_prefix" default=""/>
    <xacro:arg name="joint_limit_params" default="$(find my_robot_description)/config/joint_limits.yaml"/>
    <xacro:arg name="kinematics_params" default="$(find my_robot_description)/config/default_kinematics.yaml"/>

    <!-- ros2_control related parameters -->
    <xacro:arg name="robot_ip" default="NaN" />
    <xacro:arg name="robot_ssid" default="NaN" />


    <!-- Simulation parameters -->
    <xacro:arg name="use_fake_hardware" default="false" />
    <xacro:arg name="fake_sensor_commands" default="false" />


    <!-- initial position for simulations from .yaml files (Fake Hardware, Gazebo, Ignition) -->
    <xacro:arg name="initial_positions_file" default="$(find my_robot_description)/config/initial_positions.yaml"/>
    <!-- convert to property to use substitution in function -->
    <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>


<!--#######################################################################################################################################-->
   <!-- call the main macro by passing above instanced parameters to build the arm -->
<!--#######################################################################################################################################-->
   <!-- create link fixed to the "world" -->
    <link name="world" />

    <xacro:diy_robotarm
        name="$(arg name)"
        tf_prefix="$(arg tf_prefix)"
        parent="world"
        joint_limits_parameters_file="$(arg joint_limit_params)"
        kinematics_parameters_file="$(arg kinematics_params)"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        initial_positions="${xacro.load_yaml(initial_positions_file)}"
        robot_ip="$(arg robot_ip)"
        robot_ssid="$(arg robot_ssid)"
        >
        <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position robot in the world -->
    </xacro:diy_robotarm>


</robot>